.page-container {
    width: 100%;
    max-width: 75rem;
    /* 1200px */
    margin: 0 auto;
    padding: 1.5rem;
}

.page-content {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.page-description {
    flex: 2;
    background-color: var(--color-surface);
    border-radius: var(--border-radius-lg);
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    height: fit-content;
}

